* {
    margin: 0;
    padding: 0;
}
body {
        background-color: #f9f9f9;
}
/* WRAPPER */
.wrapper {
    width: 1070px;
    margin: auto;
    font-size: 14px;
    font-family: Open sans;
    background-color: #ffffff;
    box-shadow: 0 0 5px #cfcfcf;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
}
/* HEADER */
.logo {
    margin: 50px 50px 40px 50px;
}
.menu {
    width: 970px;
    margin: 0 auto;
    background-color: #77777a;
}
.menu li {
    display: inline-block;
}
.menu a {
    color: #fff;
    width: 130px;
    line-height: 40px;
    display: block;
    text-align: center;
    box-sizing: border-box;
}
.menu a:hover {
    background-color: #3d3d3d;
    border-left: 1px solid #909090;
    border-right: 1px solid #909090;
}
/* SIDBAR */
.sidbar {
    margin: 40px 0 0 50px;
    float: left;
    border-bottom: 1px solid #c8c8c8;
}
.sidbar li {
    width: 240px;
    border: 1px solid #c8c8c8;
    border-bottom: none;

}
.sidbar a {
    color: #2c2c2c;
    padding: 0 0 0 25px;
    line-height: 40px;
}
.sidbar a:hover {
    margin: 0 0 0 15px;
}
/* CONTENT */
main img {
    margin: 40px 0 40px 45px;
    border: 1px solid #c8c8c8;
}
main p {
    color: #2c2c2c;
    width: 620px;
    margin: 0 0 60px 380px;
}
/* FOOTER */
.foot {
    width: 720px;
    margin: 0 50px 50px 50px;
    float: left;
}
.foot li {
    display: inline-block;
}
.foot a {
    color: #2c2c2c;
    width: 130px;
    line-height: 40px;
    display: block;
    text-align: center;
}
.foot a:hover {
    text-decoration: underline;
}
.copy {
    color: #2c2c2c;
    width: 970px;
    line-height: 40px;
    margin: 0 auto;
    background-color: #e1e1e1;
}
div footer {
    padding: 0 0 60px 0;
}
